/* .App {
  text-align: center;
} */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

